<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<context:annotation-config/>

	<!-- use properties file sanple-->
<!-- 
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>file:${user.home}/dbviewer/db.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource1" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc1.driverClassName}" />
		<property name="url" value="${jdbc1.url}" />
		<property name="username" value="${jdbc1.username}" />
		<property name="password" value="${jdbc1.password}" />
	</bean>
 -->
	<bean id="sqliteSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.sqlite.JDBC" />
		<property name="url" value="jdbc:sqlite:${user.home}/dbviewer/dbviewer.sqlite" />
	</bean>

	<util:list id="databaseList">
		<bean class="com.grachro.dbviewer.Database">
			<property name="caption" value="dbviewer.sqlite" />
			<property name="dataSource" ref="sqliteSource" />
		</bean>
	</util:list>

	<util:list id="scriptHolderList">
		<bean class="com.grachro.dbviewer.script.AllJavaScripts"></bean>
		<bean class="com.grachro.dbviewer.script.AllGroovyScripts">
			<property name="scriptDirPath" value="${user.home}/dbviewer/groovy" />
		</bean>
	</util:list>

</beans>